/* CUSTOM SYTLES */
:root {
    --light-red: #ffc0c0;
}
body {
    background-color: var(--info);
}
.container {
    max-width: 60%;
    min-height: 100vh;
    background-color: #fff;
}
#sliderbox {
    margin-top: 60px;
    margin-bottom: 40px;
}
#wordbox {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 2em;
    min-height: 2em;
    height: auto;
}
#typebox {
    font-size: 2em;
    min-height: 2em;
    min-width: 100%;
    text-align: center;
    background-color: var(--light);
}
#clockbox {
    margin-top: 20px;
}
#speedbox {
    margin-top: 10px;
}